body {
  font-family: $ff-main;
  color: #fff;
  background-color: white;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

p,
h1,
h2,
h3,
h4,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  text-decoration: none;
  background-color: transparent;
  color: inherit;
  display: block;
}

li {
  list-style-type: none;
}

button {
  background: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  display: block;
}

span {
  display: block;
}

img {
  border-style: none;
  display: block;
  width: 100%;
  height: auto;
}
